<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123080567-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-123080567-1');
		</script>

        <title>Zac Henney</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        
         
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50" >
        
        <div id="header" data-scroll-index="0">
            
            
            <div class="intro">
                <h1>Hi. </h1>
                <h1>I'm <span class="name">Zac Henney</span>,</h1>
                <h1>a recent computer science graduate</h1>
                <h1>and aspiring software engineer.</h1>
            </div>
                
        </div>  

        <nav class="navbar navbar-expand-sm sticky-top"> 
            <ul class="navbar-nav navbar-center">
                <li class="nav-item navlinks">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <h4 class="nav-link">/</h4>
                <li class="nav-item navlinks">
                    <a class="nav-link" href="#resume">Resume</a>
                </li>
                <h4 class="nav-link">/</h4>
                <li class="nav-item navlinks">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>  
            </ul>
        </nav>
        


        <div id="content">
            <section data-scroll-index="1">
                <div id="portfolio" class="container">
                    <br>
                    <h1 class='sectitle'>Portfolio</h1>
                    <div class='center-content'>
                        <div class="col-12">
                            <div class="card-deck">
                                
                                <div class="row">
                                
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Web Server</h5>
                                            <p class="card-text">Implemented in Java, this multithreaded web server handles a subset of HTTP requests. Specifically, I implemented the parsing of server config files, the generation and sending of HTTP responses, and user/request authentication.  </p>
                                            <a href="https://github.com/zzhenney/WebServer" target="_blank" class="btn btn-primary">Codebase</a>
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#webserverModal">Full Description</button>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Built with: Java, Postman, and Netbeans IDE</small>
                                        </div>
                                    </div>
                                    
                            
                                </div>
                                
                                <div class="modal fade" id="webserverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Web Server</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>Inspiration</h5>
                                                <p>
                                                    The purpose of this project was to learn about the HyperText Transfer Protocol (HTTP) and the inner workings of web servers.
                                                    It also provided an opportunity to practice my software development skills.
                                                </p>
                                                <h5>What it Does</h5>
                                                <p>
                                                    This web server can handle a subset of HTTP requests and responses (fig. 1). 
                                                    The server can also handle multiple simultaneous requests via multithreading. 
                                                    Below, is a high level overview of the web server’s features. 
                                                    <ul>
                                                        <li>Read, and store, standard conﬁguration ﬁles for use in responding to client requests</li>
                                                        <li>Parse HTTP Requests</li>
                                                        <li>Generate and send HTTP Responses</li>
                                                        <li>Respond to multiple simultaneous requests through the use of threads</li>
                                                        <li>Execute server side processes to handle server side scripts</li>
                                                        <li>Support simple authentication</li>
                                                        <li>Support simple caching</li>
                                                        <li>Logging</li>
                                                    </ul>  
                                                </p>
                                                <figure>
                                                    <img src="images/req_res_table.png">
                                                    <figcaption>fig. 1</figcaption>
                                                    
                                                </figure>
                                                <h5>Implementation</h5>
                                                <p>
                                                    The web server was implemented in Java 8.0. Tools used during development include Netbeans IDE 8.2 and Postman 6.7.4.
                                                </p>
                                                <p>
                                                    The entry point to the web server is the main method in WebServer.java. The server listens to port 8080 by default. 
                                                    WebServer is responsible for setting its configuration via the httpd.conf and MIME.types files located in conf folder located in the server’s root directory. 
                                                    The HttpdConf and MimeTypes classes are used by the server to load the configurations and both utilize HashMaps to store their respectful headers. 
                                                    Each is also responsible for the parsing of their respected files. 
                                                    Both HttpdConf and MimeTypes extend ConfigurationReader, a class used to read a file and provide scanning logic, to help in the parsing. 
                                                </p>
                                                <p>
                                                    The server utilizes the ExecutorService interface to manage a fixed thread pool of 10 threads, allowing the server to handle multiple simultaneous requests. 
                                                    The Worker class implements Runnable and is passed to the fixed thread pool for execution. 
                                                    The Worker expects to be passed a Socket, HttpdConf, and MimeType objects. 
                                                    The Socket is used with Worker to facilitate communication between the client and server. 
                                                </p>
                                                <p>
                                                    When WebServer receives a request, the Request class is responsible for handling the parsing and extracting the properly formatted HTTP request’s information. 
                                                    Worker also utilizes a ResponseFactory to dynamically create a response to a request. 
                                                    All Responses extend from an abstract Response class. 
                                                    The Response class provides both abstract and implemented methods. 
                                                    The ResponseFactory verifies if a resource is protected and if the resource exists and then based on the appropriate response code, generates 
                                                    the appropriate Response to be sent to the client. 
                                                    Once a request is sent the Logger class handles the logging of the response.
                                                </p>
                                                
                                                <h5>Challenges & Issues</h5>
                                                <p>
                                                    During development there was an issue when parsing file paths for htaccess detection. 
                                                    I found that the leading “/” was being removed from the path. 
                                                    As a result the htaccess file was never detected. 
                                                    This was caused by using Java’s Path substring method. 
                                                    I fixed this by using Java’s Path getParent method instead.
                                                </p>
                                                <h5>What I learned</h5>
                                                <p>Through this project I gained the understanding of webservers as well as HTTP</p>
                                                <p>Initially, this seemed like a daunting project. After breaking down the problem into smaller pieces it became much more manageable.</p>
                                                <p>Postman is a crucial tool for quickly testing APIs. Without Postman the development time for this project would have been longer. I will definitely use Postman in the future when working with APIs.</p>
                                                <p>In my courses prior to this project we had breifly discussed design patterns. This was my first time using the Factory pattern. Being able to apply the pattern to an actual project made the concept seem less abstract. </p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                <br>
                                <div class="row">
                                    <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Movie Rank</h5>
                                        <p class="card-text">A mobile friendly movie review site built with an emphasis on user experience and database design. Some UX based features include returning to previous page after login, user based routing restrictions, and user profile settings.</p>
                                        <a href="https://github.com/zzhenney/MovieRank" target="_blank" class="btn btn-primary">Codebase</a>
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#movierankModal">Demo</button>
                                        <a href="https://movierank.herokuapp.com/" target="_blank" class="btn btn-success">Live Project</a>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Built with: JavaScript, Node.js, Express.js, Postgres, Bootstrap, and Heroku</small>
                                    </div>
                                    </div>
                                    <div class="modal fade" id="movierankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Movie Rank</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Demo</h5>
                                                    <iframe src="https://player.vimeo.com/video/357020238" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                        
                                        <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Magic Mirror Caltrain Module</h5>
                                            <p class="card-text">A Caltrain Module for the Magic Mirror open source project. The module provides northbound and/or southbound departure times or estimated times of departure for the selected Caltrain station.</p>
                                            <a href="https://github.com/zzhenney/MMM-Caltrain" target="_blank" class="btn btn-primary">Codebase</a>
                                            
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Built with: JavaScript, MagicMirror open source project</small>
                                        </div>
                                        </div>
                            
                                </div>
                                <br>
                                <div class="row">
                            
                                        <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Smart Mirror Dashboard Generator</h5>
                                            <p class="card-text">This tool allows users to login and create a background for their smart mirror. 
                                            Display options include specific muni and bart ETAs, time, date, and weather. This tool is intended to help those without much programming experience quickly build a basic smart mirror. </p>
                                            <a href="https://github.com/zzhenney/Smart-Mirror" target="_blank" class="btn btn-primary">Codebase</a>
                                            <a href="https://smart-mirror-gen.herokuapp.com/" target="_blank" class="btn btn-success">Live Project</a>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Built with: JavaScript, Node.js, Heroku, Postgres, Python, Express.js, Bootstrap</small>
                                        </div>
                                        </div>
                            
                                </div>
                                <br>
                                <div class="row">
                                    <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Infinite Image</h5>
                                        <p class="card-text">With a focus on user centered design and scrum/agile principles, I led a team of 7 student engineers in the rapid prototype development of a stock photosite over the course of 9 weeks. During this time we also had to learn Ruby and Ruby on Rails.</p>
                                        <a href="https://github.com/zzhenney/Infinite-Image" target="_blank" class="btn btn-primary">Codebase</a>
                                        <a href="https://infinite-image.herokuapp.com/" target="_blank" class="btn btn-success">Live Project</a>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Built with: Ruby, Ruby on Rails, AWS, MySQL, Google Bucket, Bootstrap</small>
                                    </div>
                                    </div>
                                </div>

                                <br>
                            
                                <div class="row">
                            
                                    <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Bytecode Interpreter</h5>
                                        <p class="card-text">For a class project I implemented a bytecode interpreter for the mock language "X" which was provided by the professor. This project was an excercise in text parsing as well as using various data stuctures such as Stacks, HashMaps, and ArrayLists</p>
                                        <a href="https://github.com/zzhenney/interpreter" target="_blank" class="btn btn-primary">Codebase</a>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Built with: Java, Netbeans, JUnit</small>
                                    </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
          	</section>
            <section data-scroll-index="2">
            
                <div id="resume">
                	<br>
                	<h1 class='sectitle'>Resume</h1>
                	<div class='center-content'> 
	                    <embed src="images/Zac_Henney_Resume.pdf" width="640" height="960" type="application/pdf">
	                </div>
                </div>   
            </section>
            
            <section data-scroll-index="3">
                <div id="contact">
                    <div class="center-content">
                            <br>
                            <br>
                        <h1 class="sectitle">Contact</h1>
                        <div>
                            <ul class='links'>
                                <li class='lilinks'>
                                    <a href="https://github.com/zzhenney">Github</a>
                                </li>
                                <li class='lilinks'>
                                    <a href="https://www.linkedin.com/in/zachenney">LinkedIn</a>
                                </li>
                                <li class='lilinks'>
                                    <a href="mailto:me@zachenney.com">Email</a>                            
                                </li>
                            </ul>
                            <br><br><br>
                                
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
                
            </section>
            

            <div class="center-content center">
                <a data-scroll-goto="0"><br />To the top ☝ <br /></a>  
            </div>
        
            <div class="footer"></div>
            
        </div>
        
        
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="javascripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="javascripts/scrollIt.js" type="text/javascript"></script>
    <script>
            $(function() { $.scrollIt({
                  upKey: 38,             
                  downKey: 40,           
                  easing: 'linear',     
                  scrollTime: 900,       
                  activeClass: 'active', 
                  onPageChange: null,    
                  topOffset: 0           
                }); });
    </script>
    
			
 
    
</html>
