<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123080567-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-123080567-1');
		</script>

        <title>Zac Henney</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        
         
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50" >
        
        <div id="header" data-scroll-index="0">
            
            <div id="contact">
            	<h1 class='intro'><span>Hi, 👋	 <br />I'm Zac</span><br>
                <ul class='links'>
                    <li class='lilinks'>
                        <a href="https://github.com/zzhenney">
                        <img src="images/github-logo.svg" alt="Graph" height="20" width='20'> 
                        </a>
                    </li>
                    <li class='lilinks'>
                        <a href="https://www.linkedin.com/in/zachenney">
                        <img src="images/linkedin-button.svg" alt="Graph" height="20" width='20'>
                        </a>
                    </li>
                    <li class='lilinks'>
                        <a href="mailto:me@zachenney.com">
                        <img src="images/email.svg" alt="Graph" height="20" width='20'>
                        </a>
                        
                    </li>
                </ul>
                <br>
                <br>
                <h3>👇</h3>
                      
            </div>
        </div>

    	<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top"> 

		  <ul class="navbar-nav navbar-center">
		    <li class="nav-item navlinks">
		      <a class="nav-link" href="#about">About</a>
		    </li>
		    <li class="nav-item navlinks">
		      <a class="nav-link" href="#education">Edu & Exp</a>
		    </li>
		    <li class="nav-item navlinks">
		      <a class="nav-link" href="#projects">Projects</a>
		    </li>
		    <li class="nav-item navlinks">
		      <a class="nav-link" href="#resume">Resume</a>
		    </li>
		    
		  </ul>

		</nav>  


        <div id="content">
            <section data-scroll-index="1">
                <div id="about">
                	<br>
                    <h1 class='sectitle'>About</h1>
                    <p>
                       I am an aspiring software engineer with an interest in web development, artificial intelligence, and IoT devices. 
                       <br /><br />
                       I believe that programs should look as good as they work. 
                       <br /><br />
                       When not programming, you will find me reading about futurism, playing disc golf, messing around on the piano, or with my brother restoring a '67 mustang.
                       <br /><br />
                       Currently, residing in the Bay Area but looking everywhere for employment opportunities.
                       <br /><br />
                                             
                    </p>
                    
                    
                </div>
            </section>
            <section data-scroll-index="2">
                <div id="education" class="container">
                	<br>
                    <h1 class='sectitle'>Education & Experience</h1>
                    <p> 
                        After working full time within the software
                        industry for ~3 years, I decided to return to school to 
                        study Computer Science. I recently graduated from San Francisco State with
                        a Bachelor's of Science in Computer Science. Before, my
                        employment in the software industry I studied Music and Business
                        at CSU Chico. 
                    </p>
                    <br>   
                    <p> 
                        During my employment I served as an Operations Manager
                        working closely with the product, engineering, and technical support
                        teams. I have always been interested in programming but my passion and enthusiasm
                        for building software became apparent while assigned
                        as a product owner for an internal deployment tool.                   
                    </p>
                    <br>
                    <br>
                    <h4><b>Relevant Courses</b></h4>
                    
                    
                           <ul class='center-content'>
                               <li>
                                   Fundamentals of Programming
                               </li>
                               <li>
                                   Data Structures
                               </li>
                               <li>
                                   Progamming with C++
                               </li>
                               <li>
                                   Machine Structures
                               </li>
                               <li>
                                   Advanced Software Lab
                               </li>
                               <li>
                                   Intro to Database Systems
                               </li>
                               <li>
                                   Software Development with Java
                               </li>
                               <li>
                                   Analysis of Algorithms
                               </li>
                               <li>
                                   Operating Systems
                               </li>
                               <li>
                                   Software Engineering Capstone
                               </li>   
                               <li>
                                   Intro to Artificial Intelligence
                               </li>  
                               <li>
                                   Design of Programming Languages
                               </li>  
                               <li>
                                   Internet Application Design and Development
                               </li>        
                           </ul>
                    <br>
                    
                </div>
            </section>
            <!--
            <section data-scroll-index="3">
              <div id="projects">
                <h1 class='sectitle'>Projects</h1>
                <div class="gallery">
                    <a target="_blank" href="">
                      <img src="images/connectionsmall.png" alt="Smart Mirror Dash">
                    </a>
                    <div class="desc">Smart Mirror Dashboard
                        <ul>
                            <li>JavaScript</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>APIs</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery">
                    <a target="_blank" href="forest.jpg">
                      <img src="images/commandline.png" alt="Forest">
                    </a>
                    <div class="desc">Random Scripts
                                    <ul>
                                        <li>Python</li>
                                    </ul>
                    </div>
                    
                </div>

                <div class="gallery">
                    <a target="_blank" href="lights.jpg">
                        
                      <img src="images/Calculator_iconcopy.png" alt="Northern Lights">
                    </a>
                    <div class="desc">Infix Calculator
                        <ul>
                            <li>Java</li>
                        </ul>
                    </div>
                </div>

                
              </div>
            </section>
        -->
        	<section data-scroll-index="3">
              <div id="projects" class="container">
              	<br>
              	<h1 class='sectitle'>Projects</h1>
              	<div class='center-content'>
              		<div class="col-12">
	              		<div class="card-deck">
		              		<div class="row">
		              	
								    <div class="card">
								      <div class="card-body">
								        <h5 class="card-title">Smart Mirror Dashboard Generator</h5>
								        <p class="card-text">This tool allows users to login and create a background for their smart mirror. 
								        Display options include specific muni and bart ETAs, time, date, and weather. This tool is intended to help those without much programming experience quickly build a basic smart mirror. </p>
								        <a href="https://github.com/zzhenney/Smart-Mirror" target="_blank" class="btn btn-primary">Goto Repo</a>
								      </div>
								      <div class="card-footer">
								      	<small class="text-muted">Built with: Node.js, Heroku, Postgres, Python, Express.js, Bootstrap</small>
								      </div>
								    </div>
						
							</div>
							<br>
							<div class="row">
							    <div class="card">
							      <div class="card-body">
							        <h5 class="card-title">Infinite Image</h5>
							        <p class="card-text">With a focus on user centered design and scrum/agile principles, I led a team of 7 student engineers in the rapid prototype development of a stock photosite over the course of 9 weeks. During this time we also had to learn Ruby and Ruby on Rails.</p>
							        <a href="https://github.com/zzhenney/Infinite-Image" target="_blank" class="btn btn-primary">Goto Repo</a>
							      </div>
							      <div class="card-footer">
							      	<small class="text-muted">Built with: Ruby on Rails, AWS, MySQL, Google Bucket, Bootstrap</small>
							      </div>
							    </div>
							</div>
						
							<br>
						
							<div class="row">
						
							    <div class="card">
							      <div class="card-body">
							        <h5 class="card-title">Bytecode Interpreter</h5>
							        <p class="card-text">For a class project I implemented a bytecode interpreter for the mock language "X" which was provided by the professor. This project was an excercise in text parsing as well as using various data stuctures such as Stacks, HashMaps, and ArrayLists</p>
							        <a href="https://github.com/zzhenney/interpreter" target="_blank" class="btn btn-primary">Goto Repo</a>
							      </div>
							      <div class="card-footer">
							      	<small class="text-muted">Built with: Java, Netbeans, JUnit</small>
							      </div>
							    </div>
							</div>
							<br>
							<div class="row">
						
							    <div class="card">
							      <div class="card-body">
							        <h5 class="card-title">HTTP Web Server</h5>
							        <p class="card-text">Implemented in Java, this web server handles a subset of HTTP requests. Specifically, I implemented the parsing of server config files, the generation and sending of HTTP responses, and user/request authentication.  </p>
							        <a href="https://github.com/zzhenney/WebServer" target="_blank" class="btn btn-primary">Goto Repo</a>
							      </div>
							      <div class="card-footer">
							      	<small class="text-muted">Built with: Java, Netbeans, Postman</small>
							      </div>
							    </div>
							
							</div>
						</div>
					</div>
				</div>
              </div>
          	</section>
            <section data-scroll-index="4">
            
                <div id="resume">
                	<br>
                	<h1 class='sectitle'>Resume</h1>
                	<div class='center-content'>
	                	
	                    
	                    <embed src="images/Zac_Henney_Resume.pdf" width="640" height="960" type="application/pdf">

	                    <a data-scroll-goto="0"><br />To the top ☝ <br /></a> 
	                </div>
                </div>
                
            </section>
            
        </div>
        
        
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="javascripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="javascripts/scrollIt.js" type="text/javascript"></script>
    <script>
            $(function() { $.scrollIt({
                  upKey: 38,             
                  downKey: 40,           
                  easing: 'linear',     
                  scrollTime: 600,       
                  activeClass: 'active', 
                  onPageChange: null,    
                  topOffset: 0           
                }); });
    </script>
    
			
 
    
</html>
